
//..................Intermediate folders...................//

# Python intermediate folders
**.env
**.venv
**env
**venv
**ENV
**env.bak
**venv.bak
**__pycache__

**.Trash-*
**.vscode
**.code-workspace

//.........................................................//
